* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #000;
}

/* hEADER CSS*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem 2.5rem;
  background-color: #212121;
  color: white;
}

.header-left {
  display: flex;
  align-items: center;
}
.header-left a {
  padding: 0 10px;
  margin: 0 10px;
  text-decoration: none;
}
.header-left span {
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
  padding: 5px;
  border-radius: 4px;
}
.logo{
  font-size: 1.3rem;
  font-weight: bold;
  color: #ffd700;

}
.header-right a {
  padding: 0 10px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-right span {
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
  padding: 5px;
  border-radius: 4px;
}
.count {
  padding: 3px 5px;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  background-color: #ffd700;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 5px;
}
span:hover {
  background-color: #4a4242de;
  color: #ffd700;;
}
.logo {
  max-height: 50px;
}

.res_header {
  display: none;
}

/*  responsive css   */

@media only screen and (max-width: 768px) {
  .header {
    display: none;
  }
  .res_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem 2.5rem;
    background-color: #212121;
    color: white;
  }
  .logo{
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffd700;
  
  }

  .res_count {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .res_count .count {
    margin-top: 0;
    margin-bottom: 0;
  }

  .dropdown {
    position: absolute;
    z-index: 2;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
    margin-top: 1.1rem;
    background-color: white;
    right: 0;
    background-color: #212121;
    width: 100vw;
  }

  .dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .dropdown li {
    padding: 8px 12px;
    text-decoration: none;
    text-align: center;
    font-weight: 900;
  }

  .dropdown li:hover {
    background-color: rgba(0, 0, 0, 0.14);
    cursor: pointer;
  }

  .dropdown li a {
    text-decoration: none;
    color: #ffffff;
  }
}

/* Cards*/
.card {
  width: 270px;
  height: 410px;
  border: 1px solid #ffd700;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  background-color: #0a0a0a;
}
.card:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0.3rem 0.3rem 0.3rem #b59c0c;
}
.card_img {
  width: 100%;
  height: 250px;
  margin-bottom: 0.1em;
}

.card_title {
  margin-bottom: 5px;
  color: #ffffffaf;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.card_price {
  margin-bottom: 4px;
  color: #fff;
  display: inline-block;
}
span {
  color: #a3a0a0;
  padding: 3px 10px;
  font-size: 14px;
  font-weight: 800;
}
.delivery {
  margin-bottom: 5px;
  color: #c4bfbf;
  font-size: 15px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card_info {
  margin-bottom: 8px;
}

.card_rating {
  font-size: 14px;
  margin: 5px 0;
  color: #fff;
}
.card_right {
  display: flex;
  align-items: center;
}
.btn2 {
  padding: 8px 12px;
  background-color: #ffd700;
  color:#0a0a0a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  margin: 0 11px;
  font-weight: bolder;
}
.btn2-add {
  background-color:#ffd700;
  color:#0a0a0a;
  font-weight: bolder;
}

.btn2-remove {
  background-color: red;
  color: #fff;
}
.btn1 {
  padding: 9px 15px;
  background-color: #065e29ec;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}
.btn1:hover {
  background-color: #03421eef;
}

.search {
  width: 50%;
  margin-left: 2rem;
}
.searchTop{
  display: flex;
  justify-content: left;
  align-items: center;
}
input {
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 12px;
  width: 100%;
}
#head1 {
  margin-top: 1rem;
  margin-bottom: 20px;
  text-align: center;
  word-spacing: 2px;
  letter-spacing: 10px;
  color: #ffd700;
  text-decoration: underline;
  font-size: 32px;
  font-weight: 800 ;
}
.Gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}


.btn3 {
  position: absolute;
  right: 5rem;
  padding: 6px;
  margin-top: 8px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

/*ProductDetails*/

label {
  margin-bottom: 1em;
  font-size: 20px;
  color: #ffd700 ;
  font-weight: 700;
}

input[type="number"] {
  padding: 9px;
  margin: 1em;
  font-size: 15px;
  border: 1px solid #000000;
  border-radius: 4px;
  width: 7vw;
  cursor: pointer;
}
.maindiv {
  display: flex;
  position: relative;
}
.leftmaindiv {
  position: absolute;
  left: 1.2rem;
  top: 1rem;
}
.firstmainImg {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem;
}
.secondmainImg {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.rightmaindiv {
  position: absolute;
  top: 0;
  left: 50%;
  border: 2px solid #ffd700;
  padding: 2rem;
  margin-top: 32px;
  margin-right: 20px;
}
.childs{
  height: 250px ;
  width: 15%;
}
#ImageSlices {
  height: 150px;
  width: 98%;
  border: 2px solid#ffd700;
  cursor: pointer;
  transition: border-color 0.25s ease-in-out;
  margin: 1rem;
}
#ImageSlices:active {
  border-color: #a28a03;
  transform: translateY(-0.1rem);
  box-shadow: 0.3rem 0.3rem 0.3rem #b59c0c;
}

.cardDetails_img {
  width: 300px;
  height: 260px;
  margin-bottom: 0.1rem;
}
.cardDetails_title {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
  color: #ffd700
}
.cardDetails_price {
  display: inline;
  color: #ffd700;
  font-weight: 900;
}
.details {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  line-height: 22px;
  word-spacing: 0.3rem;
}

.btn4 {
  background-color: #ffd700;;
  color: white;
  cursor: pointer;
  padding: 5px 8px;
  border: 2px solid #ffd700;;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  margin-left: 1.2rem;
}
.btn4:hover {
  background-color: white;
  color: #ffe342;;
  cursor: pointer;
}
.btn6{
  background-color: #ffd700;;
  color: white;
  cursor: pointer;
  padding: 5px 8px;
  border: 2px solid #ffd700;;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0.3rem;
}
.btn6:hover {
  background-color: rgb(0, 0, 0);
  color: #ffe342;;
  cursor: pointer;
}

.arrayHead {
  word-spacing: 10px;
  letter-spacing: 10px;
  font-weight: 600;
  color: rgb(197, 191, 191);
  text-align: center;
  margin-top: 30px;
}
.arrayHead:hover {
  color: #ffd900;
  cursor: pointer;
}

.carousel .control-dots .dot {
    background: #e1c10c !important;
  }

  /* responsive css  */

@media screen and (max-width: 1230px) {
  .rightmaindiv {
    position: absolute;
    left: 60%;
  }
}
@media screen and (max-width: 1024px) {
  .rightmaindiv {
    position: absolute;
    left: 70%;
  }
}
@media screen and (max-width: 899px) {
  .rightmaindiv {
    position: relative;
    left: 0;
    bottom: 0;
    padding: 2rem;
    margin-top: 56%;
  }
  
}
@media screen and (max-width: 820px) {
  .rightmaindiv {
    position: relative;
    left: 5px;
    bottom: 0;
    padding: 2rem;
    margin-top: 60%;
  }
  
}
@media screen and (max-width: 760px) {
  .rightmaindiv {
    margin-top: 64%;
  }
}
@media screen and (max-width: 718px) {
  .rightmaindiv {
    margin-top: 68%;
  }
}
@media screen and (max-width: 668px) {
  .rightmaindiv {
    margin-top: 74%;
  }
}
@media screen and (max-width: 632px) {
  .rightmaindiv {
    margin-top: 100%;
  }
}
@media screen and (max-width: 624px) {
  .rightmaindiv {
    margin-top: 110%;
  }
}
@media screen and (max-width: 585px) {
  .rightmaindiv {
    margin-top: 120%;
  }
}

@media screen and (max-width: 530px) {
  .rightmaindiv {
    margin-top: 130%;
  }
}
@media screen and (max-width: 510px) {
  .rightmaindiv {
    margin-top: 140%;
  }
}
@media screen and (max-width: 420px) {
  .rightmaindiv {
    margin-top: 170%;
  }
}
@media screen and (max-width: 440px) {
  .rightmaindiv {
    margin-top: 175%;
  }
}
@media screen and (max-width: 385px) {
  .rightmaindiv {
    margin-top: 180%;
    margin-right: 0;
  }
}
@media screen and (max-width: 344px) {
  .rightmaindiv {
    margin-top: 200%;
  }
}
@media screen and (max-width: 325px) {
  .rightmaindiv {
    margin-top: 210%;
  }
}
@media screen and (max-width: 316px) {
  .rightmaindiv {
    margin-top: 230%;
  }
}
@media screen and (max-width: 309px) {
  .heading1 {
    font-size: 26px;
  }
}

@media screen and (max-width: 305px) {
  .rightmaindiv {
    margin-top: 240%;
  }
}
@media screen and (max-width: 289px) {
  .rightmaindiv {
    margin-top: 249%;
  }
  input[type="number"] {
    padding: 5px 10px;
    font-size: 20px;
    border: 2px solid #000000;
    width: 11vw;
  }
}

@media screen and (max-width: 340px) {
  .btn3 {
    position: absolute;
    right: 1px;
    padding: 3px;
    margin-top: 40px;
    font-size: 19px;
  }
}
